<a href="https://colab.research.google.com/github/sahanal2603/Data-Science-and-Analytics/blob/master/Practice_Introduction_Lab_1_%5BPython%5D.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>



## This content is taken directly from the Tutorial session of the TEQIP III sponsored Faculty Development program, conducted by IIT Ghandinagar, during 11 to 23 January, 2021

In [ ]:
#defining a variable

x=3 #as integer
y='5' #as string
z=6.3 #as float

In [ ]:
#adding different variables

#lets say we want to get sum of all variables x, y, and z

sum = x + int(y) + z #second argument in the int() is base which is optional and by default =10
print(sum)

print(type(sum)) 
'''
other optional arguments for print()...
file:  a file-like object (stream); defaults to the current sys.stdout.
sep:   string inserted between values, default a space.
end:   string appended after the last value, default a newline.
flush: whether to forcibly flush the stream.
'''

14.3
<class 'float'>

'\nother optional arguments for print()...\nfile:  a file-like object (stream); defaults to the current sys.stdout.\nsep:   string inserted between values, default a space.\nend:   string appended after the last value, default a newline.\nflush: whether to forcibly flush the stream.\n'

In [ ]:
#get an integer sum

sum = x + int(y) + int(z)
print(sum)

print(type(sum))

14
<class 'int'>

In [ ]:
#lets say we want to add them as a string

sum = str(x) + y + str(z)
print(sum)

print(type(sum))

356.3
<class 'str'>

In [ ]:
#Introduction to list

#let's first define a simple list 
l = [1,2,3,4,5] #elements of list can be numbers, strings, another lists, tuples etc.
print(l)

[1, 2, 3, 4, 5]

In [ ]:
#length of list defines the number of elements in the list

print(len(l))

5

In [ ]:
#append elements to list

l.append(6) #adds element at the end

print(l)

[1, 2, 3, 4, 5, 6]

In [ ]:
#insert elements to list

l.insert(2,2.5)

print(l)

[1, 2, 2.5, 3, 4, 5, 6]

In [ ]:
#slicing of list

l_dash = l[2:4]
last_elm = l[-1]
print(l_dash)
print(last_elm)

#similarly same can be done for strings too

[2.5, 3]
6

In [ ]:
#looping

# "for" loop

em_l = [] #define an empty list

#create a list of strings of numbers ranging from 0 to 9
for i in range(10):
    em_l.append(str(i))

print(em_l)

['0', '1', '2', '3', '4', '5', '6', '7', '8', '9']

In [ ]:
#looping

# "for" loop

em_l = [] #define an empty list

#create a list of strings of numbers ranging from 10 to 20
for i in range(10,21): #you can also specify step in range()
    em_l.append(str(i))

print(em_l)

['10', '11', '12', '13', '14', '15', '16', '17', '18', '19', '20']

In [ ]:
#alternate way to create a list

l = [str(i+1) for i in range(5)]
print(l)

['1', '2', '3', '4', '5']

In [ ]:
# "while" loop

#lets use while loop to get factorial of a number

factorial = 1
inp = int(input())
print("input is: " + str(inp))
i=1 

while i<=inp:
    factorial = factorial * i
    i = i+1

print("factorial of "+str(inp) + " is " + str(factorial))

5
input is: 5
factorial of 5 is 120

In [ ]:
#dictionaries

#let's say we have a dictionary of number students who are boys and number of students who are girls
dict1 = {'boys':15, 'girls':20} #here 'boys' and 'girls' are called keys; and 15 and 20 are their values respeactively
print(dict1)

{'boys': 15, 'girls': 20}

In [ ]:
#changing value of the key

dict1['boys'] = 25
print(dict1)

{'boys': 25, 'girls': 20}

In [ ]:
#lets write a short program using dictionary to count number of occurences of 'chocolate' and 'cake' in a list

l = ['chocolate','chocolate','cake','chocolate','cashew','chocolate','chocolate','cake','cake','cake','cake','chocolate','chocolate','chocolate','chocolate']

counts = {'chocolate':0,'cake':0} #initilization of dictionary which will keep track of the counts

for item in l:
    if item=='chocolate':
        counts['chocolate'] +=1
    elif item =='cake':
        counts['cake'] += 1

print(counts)
print(len(l))

{'chocolate': 9, 'cake': 5}
15

In [ ]:
#working with keys and values of the dictionary

dictx = {1:'cake',2:'chocolate',3:'pizza',4:'burger'} #lets say we have a simple list of menu of bakery 
#with serial number as key and dish name as value

#get a list of dishes in the menu

items_in_menu = []

for key,value in dictx.items():
    items_in_menu.append(value)

print(items_in_menu)

['cake', 'chocolate', 'pizza', 'burger']

In [ ]:
#sets - unordered list without repeatations

set_A = {1,2,3,3,4,3,2}

print(set_A)

{1, 2, 3, 4}

In [ ]:
#converting list to set

l = [1,2,3,4,5,4,3,2,2,3,3]
print(l)

l = set(l)
print(l)

[1, 2, 3, 4, 5, 4, 3, 2, 2, 3, 3]
{1, 2, 3, 4, 5}

In [ ]:
#basic file operations in python

#first of all let's mount our google drive to the colab
from google.colab import drive
drive.mount('/content/drive')

path = '/content/drive/My Drive/TEQIP/'

#opening a file and writing into it
file = open(path + 'TEQIP.txt','w') 
file.write("This is the write command \r this line is after return \n") 
file.write("It allows us to write in a particular file ") 
file.write("It allows us to write in a particular file \t with a tab also") 
file.close()

Mounted at /content/drive

In [ ]:
#lets now read the file that we wrote

# a file named "TEQIP", will be opened with the reading mode. 
file = open(path + 'TEQIP.txt', 'r') 
# This will print every line in the file 
for each in file: 
    print (each)

This is the write command

 this line is after return

It allows us to write in a particular file It allows us to write in a particular file 	 with a tab also

In [ ]:
#basic function definitation

def add(x,y):
    result= x+y
    return result

add(2,3)

5

In [ ]:
#basic class definitation

#class for simple calculator 
class calc:
    def __init__(self, x,y):
        self.x = x
        self.y = y
    def add(self):
        result= self.x+self.y
        return result
    def sub(self):
        result= self.x-self.y
        return result
    def mul(self):
        result= self.x*self.y
        return result
    def div(self):
        result= self.x//self.y
        return result

In [ ]:
c = calc(6,3)
print(c.add())
print(c.sub())
print(c.mul())
print(c.div())

9
3
18
2